.logintabsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto 30px;
}

.loginTabs {
  gap: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  li {
      position: relative;

      span {
          position: absolute;
          color: #000;
          margin: 0;
          font-weight: bold;
          font-size: 14px;
          top: -34px;
          left: 0;
      }

      button {
          background: rgba(156, 163, 175, 0.2588235294);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          font-size: 15px;
          color: #555;
          border: none;
          padding: 18px 50px;
          border-radius: 20px 20px 0 0;
          position: relative;
          overflow: hidden;
          transition: all ease 500ms;
          &:hover {
              background: #9ca3af42;
              color: #555;
          }

          &.active {
              background: #047954;
              color: #fff;
              opacity: 1;
          }
      }
  }
}

.tab-content {
  padding: 20px;
  background: #fff;
  margin: 0 !important;
  border-radius: 20px;
  width: 100%;
  right: 0;
  position: relative;
  border: 5px solid rgba(156, 163, 175, 0.2588235294);
  min-height: 400px;
}


@media screen and (max-width:991px) {
  .logintabsSection {
      width: 100%;
  }


  .tab-content {
      width: 100%;
  }

}


button {
  height: 200px;
  background: rgba(156, 163, 175, 0.2588235294);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #555;
  border: none;
  padding: 18px 50px;
  border-radius: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
  transition: all ease 500ms;
  &:hover {
      background: #9ca3af42;
      color: #555;
  }

  &.active {
      background: #047954;
      color: #fff;
      opacity: 1;
  }
}
